@{ var conferencias = (Conferencia)Model; }

<head>

    <link href="/css/Detalle.css" rel="stylesheet" />
</head>


<body class="index">

    <div class="barra">
        <div class="contenedor clearfix">
            <div class="logo">
                <a href="/Home">
                    <img src="/img/LOGO.png" alt="logo">
                </a>
            </div>

            <div class="menu-movil">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav class="navegacion-principal clearfix">
                @if (ViewBag.Usuario != "LanRhXXX")
                {
                    <a href="/conferencia/conferencias">Conferencias</a>
                    <a href="/Ponente/ponente">Invitados</a>
                }
                else
                {
                    <a href="/conferencia/Pasadas">Mis Conferencias</a>
                    <a href="/conferencia/Futuras">Calendario</a>
                    <a href="/Ponente/ponente">Invitados</a>
                }
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="/Auth/Login">Login</a>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Auth/Logout"><i class="fa fa-power-off" aria-hidden="true"></i></a>
                    <a href="/Cuenta/Index">@User.Claims.FirstOrDefault().Value</a>
                }
            </nav>
        </div>
        <!--.contenedor-->
    </div>
    <!--.barra-->
    <!--.Contenido-->

    <div class="contenedor">

        @if (ViewBag.Usuario != "LanRhXXX")
        {
            <a href="/Conferencia/edit?id=@conferencias.Id" class="button hollow"> Editar Conferencia</a>
        }

        <h2>@conferencias.TituloConf</h2>

        <div class="contenedor-imagen float-right">
            <p class="texto-centrado"><strong>Instructor: @conferencias.Ponentes.NomApe</strong></p>
            <br />
            <a href="/Ponente/detalle?idPonente=@conferencias.Ponentes.Id">
                <img width="240" height="135" src="@conferencias.Ponentes.Imagen" alt="Imagen de Conferencia">
            </a>
            <br />
            <a class="button-XMEN" href="https://www.facebook.com/"><i class="fa fa-facebook"></i> @conferencias.Ponentes.NomApe</a>
            <br />
            <a class="button-XMEN" href="https://twitter.com/"><i class="fa fa-twitter"></i> @conferencias.Ponentes.NomApe</a>
            <br />
            <a class="button-XMEN" href="https://www.youtube.com/"><i class="fa fa-youtube-play"></i> @conferencias.Ponentes.NomApe</a>
            <br />
            <a class="button-XMEN" href="https://www.instagram.com/"><i class="fa fa-instagram"></i> @conferencias.Ponentes.NomApe</a>
        </div>

        <div>
            <section class="contenedor-ponente">
                <p class="texto-aprendiz"><i class="fa fa-calendar" aria-hidden="true"></i>  @string.Format("{0:dd MMMM yyyy}", conferencias.FechaConf)</p>
                <p class="texto-aprendiz"><i class="fa fa-clock-o" aria-hidden="true"></i>  @string.Format("{0: hh:mm tt}", conferencias.FechaConf)</p>
                <p class="texto-aprendiz">Asistentes inscritos: @ViewBag.Compra</p>
                <hr color="orange" size=6>
                <br />
                <div class="card">
                    <h3 class="TitCard">LO QUE APRENDERÁS EN @conferencias.TituloConf</h3>
                    <p class="texto-aprendiz"><i class="fa fa-check" aria-hidden="true"></i> @conferencias.Ap1</p>
                    <p class="texto-aprendiz"><i class="fa fa-check" aria-hidden="true"></i> @conferencias.Ap2</p>
                    <p class="texto-aprendiz"><i class="fa fa-check" aria-hidden="true"></i> @conferencias.Ap3</p>
                    <p class="texto-aprendiz"><i class="fa fa-check" aria-hidden="true"></i> Y mucho mas</p>
                </div>

                <h4 class="TitCardDet">Detalles</h4>

                <p class="texto-aprendiz"> @conferencias.DetalleConf</p>

                <hr color="orange" size=6>

                <div class="contenedor">
                    <nav class="menu-programa">
                        <a href="#que">
                            <i class="fa fa-question-circle" aria-hidden="true"></i> ¿Que es?
                        </a>
                        <a href="#Objetivo">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i> Objetivo del curso
                        </a>
                        <a href="#Meta">
                            <i class="fa fa-child" aria-hidden="true"></i>Meta final del curso
                        </a>
                    </nav>

                    <div id="que" class="info-curso ocultar clearfix">
                        <p> @conferencias.Definicion</p>
                    </div>
                    <!--#talleres-->

                    <div id="Objetivo" class="info-curso ocultar clearfix">
                        <p> @conferencias.Objetivo</p>
                    </div>
                    <!--#talleres-->

                    <div id="Meta" class="info-curso ocultar clearfix">
                        <p> @conferencias.MetaFinal</p>
                    </div>
                    <!--#talleres-->
                </div>
                <!--.contenedor-->
            </section>
        </div>
        <!-- END .invitado -->
    </div>
    <!-- END lista-invitados -->

    <footer class="site-footer">
        <div class="contenedor clearfix">
            <div class="footer-informacion">
                <h3>Sobre <span>gold conference</span></h3>
                <p>
                    Somos su conexión virtual a los conferencistas más destacadas y renombradas de Perú, Latinoamérica y el Mundo. Actualmente, abarcamos el continente americano acercando las mentes más brillantes de todo el mundo a las empresas e instituciones que buscan una figura sobresaliente para sus eventos privados y corporativos. Contamos con más de 20 conferencistas de una gran variedad de disciplinas centradas únicamente en tecnologías como HTML5, XML, CSS, JavaScript, PHP, WordPress), entre otras.
                    En GOLD CONFERENCE tenemos el ponente ideal para su reunión y presupuesto.
                </p>
            </div>

            <div class="ultimos-tweets">
                <h3>Últimos <span>tweets</span></h3>
                <a class="twitter-timeline" data-height="400" data-theme="light" data-link-color="#fe4918" href="https://twitter.com/gold_conference">Tweets by </a>

                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div class="menu">
                <h3>Redes <span>sociales</span></h3>
                <nav class="redes-sociales">
                    <a href="https://www.facebook.com/Gold-Conf-101088928504837"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/gold_conference"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UCVbYnjINFhIA_qLPC9zAa8Q"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://www.instagram.com/GOLDCONF_/"><i class="fa fa-instagram"></i></a>

                </nav>
            </div>
        </div>

        <p class="copyright">
            Todos los derechos Reservados GOLD CONFERENCE 2020.
        </p>

    </footer>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="/js/Nuestro.js"></script>


</body>

